doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/addmovie.css')
    title Movies List
  body
    block content
      h1 Movies List

      p Welcome #{user.username}!

      ul
        each movie in movies
          li
            h2= movie.name
            p Description: #{movie.description}
            p Year: #{movie.year}
            p Genres: #{movie.genres.join(', ')}
            p Rating: #{movie.rating}
            a(href=`/movies/edit?id=${movie._id}`) Edit

            // Delete Form
            form(action='/movies/delete' method='POST')
              input(type='hidden' name='id' value=movie._id)
              button(type='submit') Delete

      a(href='/movies/add') Add New Movie

      br
      form(action='/logout' method='POST')
        button(type='submit') Logout

